{% extends 'base.twig' %}

{% block body %}
    <h1>Blog</h1>
    <div class="container row">
        <div class="col-12">
            <div class="row">
                {% include '/section/posts.twig' with posts %}
            </div>
            {% include '/section/pagination.twig' with pagination %}
        </div>
    </div>
{% endblock %}